@charset "UTF-8";
/*Aparelho em pé(portrait)*/

body{
   background-image: url('../imagens/cev-portrait.jpg');
   background-position:center bottom;
 
}
h1{
   color:aqua;
   text-shadow:0px 0px 4px black;
}